.content {
  inline-size: 1140px;
  display: flex;
  column-gap: 30px;
  align-items: flex-end;
}

.content__list {
  position: relative;
  block-size: 301px;
  inline-size: 416px;
  overflow-y: auto;
}

.content__details {
  inline-size: 399px;
  block-size: 534px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  justify-content: space-between;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex-grow: 1;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 2px;
  margin: 2px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}
