.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}
